{%extends 'index.html'%}
{% block title %}
Checkout
{%endblock%}
{% block content%}
{% load static %}
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Billing address</h3>
                    </div>
                    <form class="needs-validation" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>First name *</label>
                                <input type="text" class="form-control" name="firstname" placeholder="" value=""
                                       required>
                                <div class="invalid-feedback"> Valid first name is required.</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Last name *</label>
                                <input type="text" class="form-control" name="lastname" placeholder="" value=""
                                       required>
                                <div class="invalid-feedback"> Valid last name is required.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Username *</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="username" placeholder="" required>
                                <div class="invalid-feedback" style="width: 100%;"> Your username is required.</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Email Address *</label>
                            <input type="email" class="form-control" name="email" placeholder="">
                            <div class="invalid-feedback"> Please enter a valid email address for shipping updates.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Address 2 *</label>
                            <input type="text" class="form-control" name="address2" placeholder=""></div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label>Country *</label>
                                <select class="wide w-100" name="country">
                                    <option value="Choose..." data-display="Select">Choose...</option>
                                    <option value="United States">United States</option>
                                    <option value="United States">India</option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country.</div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>State *</label>
                                <select class="wide w-100" name="state">
                                    <option data-display="Select">Choose...</option>
                                    <option>California</option>
                                    <option>Andhra Pradesh</option>
                                </select>
                                <div class="invalid-feedback"> Please provide a valid state.</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label>Zip *</label>
                                <input type="text" class="form-control" name="zip" placeholder="" required>
                                <div class="invalid-feedback"> Zip code required.</div>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div class="title"><span>Payment</span></div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="payment" type="radio" class="custom-control-input"
                                       checked required>
                                <label class="custom-control-label" for="credit">Credit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="payment" type="radio" class="custom-control-input"
                                       required>
                                <label class="custom-control-label" for="debit">Debit card</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="CashOnDelivery" name="payment" type="radio"
                                       class="custom-control-input" required>
                                <label class="custom-control-label" for="CashOnDelivery">Cash on delivey</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label>Name on card</label>
                                <input type="text" class="form-control" name="cardname" placeholder="" required> <small
                                    class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>Card number</label>
                                <input type="text" class="form-control" name="cardnumber" placeholder="" required>
                                <div class="invalid-feedback"> Card number is required</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback"> Expiration date required</div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="password" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback"> Security code required</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="payment-icon">
                                    <ul>
                                        <li><img class="img-fluid" src="{% static 'images/payment-icon/1.png'%}" alt="">
                                        </li>
                                        <li><img class="img-fluid" src="{% static 'images/payment-icon/2.png'%}" alt="">
                                        </li>
                                        <li><img class="img-fluid" src="{% static 'images/payment-icon/3.png'%}" alt="">
                                        </li>
                                        <li><img class="img-fluid" src="{% static 'images/payment-icon/5.png'%}" alt="">
                                        </li>
                                        <li><img class="img-fluid" src="{% static 'images/payment-icon/7.png'%}" alt="">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1">
                        <div class="col-12 d-flex shopping-box"><input value="Submit" type="submit"
                                                                       class="ml-auto btn hvr-hover"></input>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="shipping-method-box">
                            <div class="title-left">
                                <h3>Shipping Method</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input"
                                           checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">Standard Delivery</label>
                                    <span class="float-right font-weight-bold">FREE</span></div>
                                <div class="ml-4 mb-2 small">(3-7 business days)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Shopping cart</h3>
                            </div>
                            <div class="rounded p-2 bg-light">
                                {% for i in items %}
                                <div class="media mb-2 border-bottom">
                                    <div class="media-body"><a href="detail.html">{{i.item.name}}</a>
                                        <div class="small text-muted">{{i.item.price}}rs</div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Your order</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Product</div>
                                <div class="ml-auto font-weight-bold">Total</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> {{t_amount}}</div>
                            </div>
                            <div class="d-flex">
                                <h4>Discount</h4>
                                <div class="ml-auto font-weight-bold"> {{discount}}</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Shipping Cost</h4>
                                <div class="ml-auto font-weight-bold"> Free</div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5"> {{total}}</div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->
{% endblock %}